p{
    margin: 0;
}
.miniText{
    font-weight: 2px;
    color: #98999e;
    width: 95%;
    margin-top: 20px;
}
body{
    font-family: 'Be Vietnam', sans-serif;
}
a{
    text-decoration:none;
    color: #2f3241;
}
.textos{
    display: grid;
    justify-items: center; 
    align-content: start;
    
}
.Subtitle{
    font-weight: bold; 
    color: #2f3241;
    line-height: 45px;
}
.mini{
    border-radius:2em;
    background-color:#f3613c;
    color:#FFFFFF;
    padding:0.3em 1em;
    
}
a.button3{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#f3613c;
    text-align:center;
    transition: all 0.2s;
    }
    a.button3:hover{
    background-color:#000000;
    }

@media (min-width: 1024px) {
    .container{
        width: auto;
        height:100%;
        display: grid;
        grid-gap: 20px;
    }
    .Dtop{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        
    }
    .ContainerTop{
        height: 100px;
        display: grid;
        grid-template-columns: 30% 40% 30%;
    }
    .DContainer2{
        justify-content: center;
    }
    .Container2{
        height: 500px;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .Container3{
        height: 500px;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .Container4{
        display: grid;
        justify-items: center;
    }
}
@media (max-width: 768px) and (min-width: 321px) {
    .container{
        width: auto;
        height:100%;
    }
}
@media (max-width: 320px) {
    .container{
        width: auto;
        height:100%;
    }
}